HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

 =====================
######### STS ########
# =====================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# =====================
#### IntelliJ IDEA ####
# =====================
.idea/
*.iml
*.iws
out/
*.log
*.ipr

###### MVN/WRAPPER #####
# .mvn/
# .mvnw/
# mvnw.cmd
# mvnw
# .mvn-wrapper/

######### GIT #########
# .gitattributes


######### GIT #########
.gitattributes


# ======================
####### NetBeans #######
# ======================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
