# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Ingore all files in the following directories
*.iml
*.idea/
src/
/out/

*.iml
*.idea/